.label {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000 #000000 #000000 #000000;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-padding: 0.5em 1em 0.5em 1em;
    -fx-font-weight: bold;
}

.reply-label {
    -fx-background-color: #d9fdd3;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-padding: 0.5em 1em 0.5em 1em;
}

.error-label {
    -fx-background-color: #ffc107;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;

    -fx-border-radius: 5em 5em 5em 0;
}