.root {
    main-color: rgb(237, 255, 242);
    -fx-background-color: main-color;
    -fx-background-image: url("../images/monolith.jpg");
    -fx-background-size: cover;
}

.text-field {
    -fx-background-color: #ecf0f1;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #4b6584;
    -fx-font: italic bold 16px "Arial";
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color:#778ca3;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:green;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: rgba(0,0,0,.3);
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #ff9cb4;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
